* {
    margin: 0;
    padding: 0%;
    border: none;
    background-color: black;
    color: whitesmoke;
}

#page-name {
    float: left;
    margin-left: 20px;
}

#socials li {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

#upper-header {
    line-height: 55px;
    height: 10%;
    clear: both;
}

#lower-header {
    clear: both;
    line-height: 10%;  
}

#sub-name {
    float: left;
    padding-left: 20px;
}

#menu li {
    list-style-type: none;
    float: right;
    padding-right: 20px;
}

#socials li a, #menu li a {
    text-decoration: none;
    color: inherit;
}

#showreel-wrapper {
    padding-top: 40px;
}