
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Unica+One&display=swap');


* {
    margin: 0;
    padding: 0%;
    border: none;
    background-color: black;
    color: whitesmoke;
}

h1, h2, h3, li a {
    font-family: Unica One, sans-serif;
}

p {
    font-family: 'Crimson Pro', sans-serif;
}
/* Header, title and navbar */

#page-name {
    float: left;
    margin-left: 20px;
}

#header-icons li {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

#upper-header {
    line-height: 55px;
    height: 10%;
}

#lower-header {
    clear: both;
    line-height: 10%;  
}

#sub-name {
    float: left;
    padding-left: 20px;
}

#menu li {
    list-style-type: none;
    float: right;
    padding-right: 20px;
}

#header-icons li a, #menu li a {
    text-decoration: none;
    color: inherit;
}

/* showreel section */

#showreel-wrapper {
    padding-top: 40px;
}

#showreel-hero {
    width: 100%;
    height: 750px;
}

/* bio and headshot */

/* .personal-info {
    display: inline-block;
} */

#bio {
    width: 45vw;
    border: 0px;
    float: left;
    padding-top: 50px;
}

#bio p {
    text-align: justify;
    padding-top: 10px;
}

#headshot {
    width: 50vw;
    float: right;
    padding-right: 10px;
}

/* footer */

footer {
    clear: both;
}

#footer-icons {
    list-style-type: none;
    text-align: center;
}

#footer {
    width: 33vw;
    padding-left: 33vw;
    padding-right: 33w;
    border: 0px;
}